@import '../../variables';

footer{


    .grid-footer{
        padding: 256px 100px 100px 176px;
        display: grid;
        grid-template-columns: 36% 17% 15% 17% 15%;
        max-width: 2000px;
        margin: 0 auto;
           
    }

    h3{
        font-size: 22px;
        font-weight: 770;
        text-align: start;
        margin-bottom:  20px;
    }
    .btn{
        font-size: 16px;
        font-weight: 760;
        color: black;
        font-family: $text-font;
        justify-content: flex-start;
        align-items: start;
        height: auto;
        margin-bottom: 12px;
    }
    p{
        font-size: 16px;
        font-weight: 760;
        
        line-height: normal;
    }
    .desk{
        max-width: 270px;
    }
    .all-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background: $accent-color;
        color: #FFF;
        text-align: center;
        position: relative;
        
    }

    .logo{
        margin: 15px 148px 36px auto;
        
    }

}

@media(max-width: 1200px){
footer{
    .grid1{
        grid-row: 1;
        grid-column: 2/5;
    }
    .grid2{
        grid-row: 2;
    }
    .grid-footer {
        padding: 70px 30px 70px 30px;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        gap: 10px;
    }

    .btn {
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
    }
    .desk {
        margin-bottom: 20px;
    }
}}

@media (max-width: 500px){
    
    footer {
        .grid-footer {
            grid-template-columns: 1% 20% 20% 20% 20% 5%;
            
        }
    }
}
