$secondary-font : "Sofia Pro Light", "Arial";
$main-font: "SharpSansNo1-Semibold", "Arial";
$bold-font: "SharpSansNo1-Bold", "Arial";
$logo-font:"Poppins", "Arial";
$text-font: "SharpSansNo1-Thin";
$accent-color: linear-gradient(#64BB47, #2C9553);

